/* CONFIGURAÇÕES GERAIS  */

@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@100&family=Lato:wght@300&family=Quicksand:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Josefin Sans;
}

/* CORPO DA PAGINA */

body {
  background-image: url(img/IMG_7706.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0);
  width: 800px;
  height: 80vh;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
}

/* IMAGEM LOGO  */

.img-logo img {
  width: 200px;
}

.img-logo {
  margin: 10px;
  text-align: center;
}

/* TEXTO  */

.texto {
  margin: 10px auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto h1 {
  font-size: 18px;
  color: #fff;
  line-height: 15px;
}

.texto h2 {
  color: #fff;
  font-size: 15px;
}

/* MENU LSITA */

.container2 div {
  margin: 45px auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container2 a {
  color: #5d5d51;

  font-family: josefin sans-serif;
}

button {
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: 4px 4px 11px #5d5d51; */
  height: 40px;
  margin: 4px;
  border-radius: 15px;
}

button a {
  color: #5d5d51;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-size: 15px;
}

/* FOOTER  */
footer {
  width: 800px;
  color: #52515d;
  position: absolute;
  bottom: 0;
  margin: 15px auto;
  text-align: center;
}

p {
    color: #5d5d51;
  font-size: 14px;
  font-style: bold;
}

/* RESPONSIVO */

@media (max-width: 600px) {
  /* CONFIGURAÇÕES DE TELA  */
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 320px;
    height: 550px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2px auto;
    background-image: url(img/IMG_7706.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0);
  }

  /* CONFIGURAÇÕES NO TEXTO  */

  .texto {
    width: 350px;
    /* height: 65px; */
    margin-bottom: 58px;
    text-align: center;
  }

   .texto h1{
    margin: 5px;
    font-size: 15px;
    line-height: 25px;
  }

  .texto h2{
    line-height: 22px;
  }

 

  .container2 {
    display: flex;
    text-align: center;
    margin: 0px auto;
  }

  .img-logo img {
    width: 150px;
  }

  button a {
    color: #5d5d51;
  }

  button {

    color: #5d5d51;
    width: 350px;
    margin: 3px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
  }

  footer {
    width: 320px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}


button:hover{
  background-color: #52515d38;
  transition: 0.25s;
  
}


footer p:hover{
  font-size: 15px;
  transition: 0.24s;
  color: #52515d;
  cursor: copy;
  
}
/* BORDA VERDE  */

/* #triangulo-para-baixo {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-top: 440px solid #949396;
  } */
