*{
    max-width: 500px;
    max-height: 10%;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    
}

p{
    color: rgba(255, 255, 255, 0.8);
    
}



body{
    background-image: url(img/3e5cd04d-241f-4e47-8c35-f6388a4172b0.JPG);
    opacity: 0.90;
    background-color: #CEBDAA;
    background-repeat: no-repeat;
    background-size: cover;
}


a{
    color: rgb(255, 255, 255);
}

header img{
 width: 45vw;
 width: 45vw;
 border-radius: 80%;
 max-width: 200px;
 border: 5px solid #369b48;
}

footer{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
}


section button{
    background-color: #369b48;
    display: block;
    width: 60vw;
    padding: 15px;
    font-size: 20px;
}


@media(max-width:600px){


    footer{
        position: absolute;
        margin-bottom: 0;
        
    }

    section button{
        background-color: #3d9c72;
        display: block;
        width: 320px;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 15px;
    }

}
